@model IEnumerable<Mwc.Core.Models.ViewModels.NoticeViewModel>
@{
    ViewBag.Title = "NoticeBoards";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Notice(s)</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Notice</li>
                </ol>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark"></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <a href="@Url.Action("AddNotice","Notice")" class="btn btn-lg btn-success"><i class="fa fa-plus"></i> Add Notice</a>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-list"></i>
                            List of All Notice
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <table class="table table-bordered table-striped" id="tblRecords">
                                <thead class="thead-default">
                                    <tr>
                                        <th width="1">#</th>
                                        <th style="width:100px">Notice Date</th>
                                        <th style="width:400px">Notice Title</th>
                                        <th style="width:100px">Total View</th>
                                        <th style="width:200px">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int rowNo = 0;}
                                    @{

                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@(rowNo += 1)</td>
                                                <td>@Convert.ToDateTime(item.NoticeDate).ToString("dd-MMM-yy")</td>
                                                <td>@item.NoticeTitle</td>
                                                <td>@item.TotalView</td>
                                                <td class="text-center">
                                                    <a href="@Url.Action("ViewNoticeHistory", "BackOffice", new { noticeId = @item.NoticeId, Areas="Admin" })" class="btn btn-sm btn-default">Logs</a>
                                                    <a href="@Url.Action("EditNotice", "Notice", new { noticeId = @item.NoticeId, Areas="Admin" })" class="btn btn-sm btn-primary">Edit</a>
                                                    <a href="@Url.Action("DeleteNotice", "Notice", new { noticeId = @item.NoticeId, Areas="Admin" })" onclick="return confirm('Are you sure you wish to delete this data?');" class="btn btn-sm btn-danger">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">


    $(document).ready(function () {

        var data =@Html.Raw(Json.Encode(ViewBag.Message));
        IntelliERP.Toastr.Show(data.MessageType, data.Message, null);

        $('#tblRecords').dataTable({
            "order": []
        });
        $(".dataTables_wrapper").css("width", "100%");

    });

    </script>
}

